@model IEnumerable<CommunicatieAppBackend.Models.Melding>

@{
    ViewData["Title"] = "Index";
}

<h1>Meldingen</h1>

<p>
    <a asp-controller="Melding" asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Meldingen", FormMethod.Get))
{
<text>Search:</text> @Html.TextBox("searchString")<input type="submit" name="submit" value="Search" />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inhoud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dringend)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(model => item.Inhoud)
            </td>
            <td>
                @Html.DisplayFor(model => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(model => item.Locatie.name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Dringend)
            </td>
            <td>
                <a asp-controller="Melding" asp-action="Edit" asp-route-id="@item.MeldingId">Edit</a> |
                <a asp-controller="Melding" asp-action="Details" asp-route-id="@item.MeldingId">Details</a> |
                <a asp-controller="Melding" asp-action="Delete" asp-route-id="@item.MeldingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
